/* Test Joseph Redden Williams */
/* Test 2 JRW 4th */

test1test1test1test1test1test1test1test1test1test1 {
    height: 0;
    width: 0;
    background: transparent;
    font-size: 0;
}

/*Jaleel Jones */

test0 {
    height: 0;
    width: 0;
    background: transparent;
    font-size: 0;
}

test1 {
    height: 0;
    width: 0;
    background: transparent;
    font-size: 0;
}


test1 {
    height: 0;
    width: 0;
    background: transparent;
    font-size: 0;
}


test2 {
    height: 0;
    width: 0;
    background: transparent;
    font-size: 0;
}


test3 {
    height: 0;
    width: 0;
    background: transparent;
    font-size: 0;
}