/* Test Joseph Redden Williams */
/* Test 2 JRW 4th */
<<<<<<< HEAD
/* Jaleel Jones*/
/* Jaleel Jones*//* Jaleel Jones*//* Jaleel Jones*/
/* Jaleel Jones*//* Jaleel Jones*//* Jaleel Jones*/
=======
/* Test 2 JRW 4th *//* Test 2 JRW 4th *//* Test 2 JRW 4th *//* Test 2 JRW 4th *//* Test 2 JRW 4th *//* Test 2 JRW 4th *//* Test 2 JRW 4th */
/* Test 2 JRW 4th *//* Test 2 JRW 4th *//* Test 2 JRW 4th */
/* Test 2 JRW 4th *//* Test 2 JRW 4th *//* Test 2 JRW 4th *//* Test 2 JRW 4th *//* Test 2 JRW 4th *//* Test 2 JRW 4th *//* Test 2 JRW 4th *//* Test 2 JRW 4th *//* Test 2 JRW 4th *//* Test 2 JRW 4th *//* Test 2 JRW 4th *//* Test 2 JRW 4th *//* Test 2 JRW 4th *//* Test 2 JRW 4th *//* Test 2 JRW 4th *//* Test 2 JRW 4th *//* Test 2 JRW 4th *//* Test 2 JRW 4th *//* Test 2 JRW 4th *//* Test 2 JRW 4th *//* Test 2 JRW 4th *//* Test 2 JRW 4th *//* Test 2 JRW 4th *//* Test 2 JRW 4th *//* Test 2 JRW 4th *//* Test 2 JRW 4th *//* Test 2 JRW 4th *//* Test 2 JRW 4th *//* Test 2 JRW 4th *//* Test 2 JRW 4th *//* Test 2 JRW 4th *//* Test 2 JRW 4th *//* Test 2 JRW 4th *//* Test 2 JRW 4th *//* Test 2 JRW 4th *//* Test 2 JRW 4th */
>>>>>>> 4864b1bd8b493a5ebd439be2525b34313fa0f5e5

test1test1test1test1test1test1test1test1test1test1 {
    height: 0;
    width: 0;
    background: transparent;
    font-size: 0;
}

<<<<<<< HEAD
/*Jaleel Jones */
.Jaleel{
    background-clip: green;
    width:0x;
}

test0 {
=======
test1test1test1test1test1test1test1test1test1test1 {
    height: 0;
    width: 0;
    background: transparent;
    font-size: 0;
}test1test1test1test1test1test1test1test1test1test1 {
    height: 0;
    width: 0;
    background: transparent;
    font-size: 0;
}test1test1test1test1test1test1test1test1test1test1 {
    height: 0;
    width: 0;
    background: transparent;
    font-size: 0;
}test1test1test1test1test1test1test1test1test1test1 {
    height: 0;
    width: 0;
    background: transparent;
    font-size: 0;
}test1test1test1test1test1test1test1test1test1test1 {
    height: 0;
    width: 0;
    background: transparent;
    font-size: 0;
}test1test1test1test1test1test1test1test1test1test1 {
>>>>>>> 4864b1bd8b493a5ebd439be2525b34313fa0f5e5
    height: 0;
    width: 0;
    background: transparent;
    font-size: 0;
}
<<<<<<< HEAD

=======
>>>>>>> 4864b1bd8b493a5ebd439be2525b34313fa0f5e5
test1 {
    height: 0;
    width: 0;
    background: transparent;
    font-size: 0;
}


test1 {
    height: 0;
    width: 0;
    background: transparent;
    font-size: 0;
}


test2 {
    height: 0;
    width: 0;
    background: transparent;
    font-size: 0;
}


test3 {
    height: 0;
    width: 0;
    background: transparent;
    font-size: 0;
}